body{
    background-color: cadetblue;
}
#count{
    display: block;
    font-size: 6em;
    position: relative;
    left: 50%;
}
.buttons{
    position: absolute;
    top: 40%;
    left: 42%;
}
#decbutn{
    font-size: 20px;
}
#resetbutn{
    font-size: 20px;
    
}
#incbutn{
    font-size: 20px;

}